<p>
  <b>Name:</b>
  <%=h @make.name %>
</p>
<p>
  <b>Models:</b>
  <% for model in @make.car_models %>
  <%=h model.name %><br />
  <% end %>

</p>


<%= link_to 'Edit', edit_make_path(@make) %> |
<%= link_to 'Back', makes_path %>